.quiz_progression {
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
  color: rgb(2, 48, 71);
  overflow: visible;

  & > div {
    border: 1px solid rgb(2, 48, 71);
    padding: 5px 10px;
    cursor: pointer;
  }
}

.current_question {
  color: rgb(118, 152, 255);
  background-color: rgb(2, 48, 71);
}
