.settings-hidden {
  display: none;
}

.settings-display {
  display: inherit;
  background-color: rgb(216, 215, 215);
  max-width: 35vw;
  padding: 20px;
  border-radius: 10px;

  & button {
    padding: 3px;
    cursor: pointer;
  }
}
